// .tail-cont {
//     position: absolute;
//     bottom: -70px;
//     right: 0;
//     transform: rotate(-25deg);
// }

.vase-cont {
    position: absolute;
    bottom: 105%;
    left: 5%;
    width: 100px;
    transition: all 2s cubic-bezier(0.4, 1, 10, 10);
    
}

// vase kick simulation with a one sec delay and
// only working on evert second mouseover to add
// some confusion and mystery
.roll {
    animation: vase-kick 4s; 
    animation-delay: 1s;
}

@keyframes vase-kick {
    0% { transform: translateX(0) translateY(0) rotate(0deg) scale(1);}
    50% { transform: translateX(39vw) translateY(-25vh) rotate(500deg) scale(0);}
    75% { transform: translateX(-300px) translateY(0) rotate(0deg) scale(0);}
    80% { transform: translateX(-150px) translateY(0) rotate(0deg) scale(0);}
    100% { transform: translateX(0) translateY(0) rotate(0deg) scale(1);}
}
