// .img-flex {
//     display: flex;
//     justify-content: space-between;
// }

// .vase-cont {
//     width: 30%;
// }

// .tail-cont {
//     width: 70%;
// }

.tail-cont {
    position: absolute;
    bottom: -70px;
    right: 0;
    transform: rotate(-25deg);
}

.vase-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
}