header {
    min-height: 20vh;
    // position: relative;
    // overflow: hidden;
}

main {
    min-height: 75vh;
}

footer {
    background: $dark;
    color: $light;
    min-height: 5vh;
    text-align: center;
    position: relative;
    p{
        padding-top: calc(3vh - 23px);
    }
}

h1 {
    color: $light;
}

h2 {
    color: $accent;
    margin: 0;
    font-family: $titles;
}

p{
    font-family: $para;
    margin: 5px 0;
}