

h1 {
    text-align: center;
    font-size: 3rem;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.outter-flex {
    display: flex;
    justify-content: left;
    margin-left: 10%;
}

.dino-head {
    position: absolute;
    top: 11px;
    right: -55px;
    transform: rotate(-45deg);
    max-width: 45%;
}

