

h1 {
    text-align: center;
    font-size: 3rem;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    margin: 0 6px 5px 0;
}

.outter-flex {
    display: flex;
    justify-content: left;
    margin-left: 10%;
}

.dino-head {
    position: absolute;
    top: 11px;
    right: -55px;
    transform: rotate(-45deg);
    max-width: 45%;
    transition: all 2s;
    z-index: 10;
}

.dino-head:hover {
    // transform: translate(-40px, 60px) rotate(-45deg) scale(1.5);
    // transform: translate(40px, 40px);

  animation: shake 0.62s cubic-bezier(.36,.07,.19,.97) both;
//   transform: translate3d(0, 0, 0) ;
//   backface-visibility: hidden;
//   perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-6px, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(6px, 4px, 0);
  }
}

