.museum button {
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 10;
}

.img-cont2 {
    max-width: 20%;
    max-height: 40%;
    position: absolute;
    left: 44%;
    bottom: 32%;

    img {
        border: 25px gold ridge;
        // border: 25px gold inset;
        // border: 25px gold groove;
        
    }
}