// variables
$light: #d1cac2;
$dark: #130d00;
$accent: #B51A38;
$secAccent: #753C19;

$header: 'Luckiest Guy', cursive;;
$titles: 'Lora', serif;
$para: 'Lato', sans-serif;

// mixins

// partials
@import "normalize";
@import "basic-styles";
@import "header";
@import "blurb";
@import "museum";
@import "art";
@import "media";