// variables
$light: #fff;
$dark: #000;
$accent: #B51A38;

$titles: font-family: 'Lora', serif;
$para: font-family: 'Lato', sans-serif;

// mixins

// partials
@import "normalize";
@import "basic-styles";
@import "body";
@import "header";
@import "blurb";
@import "museum";
@import "art";