html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
p {
  margin: 0;
}

.wrapper {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #130d00;
}

header {
  min-height: 20vh;
}

main {
  min-height: 75vh;
}

footer {
  background: #130d00;
  color: #d1cac2;
  min-height: 5vh;
  text-align: center;
  position: relative;
}
footer p {
  padding-top: calc(3vh - 23px);
}

h2 {
  color: #B51A38;
  margin: 0;
  font-family: "Lora", serif;
}

p {
  font-family: "Lato", sans-serif;
  margin: 5px 0;
}

h1 {
  color: #d1cac2;
  text-align: center;
  font-size: 3rem;
  padding-left: 10%;
  padding-top: 50px;
  margin-right: 25%;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 4px #130d00;
}

.inner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
  margin: 0 6px 5px 0;
}

.outter-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.dino-head {
  position: absolute;
  top: 2px;
  right: 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  max-width: 45%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  z-index: 20;
}

.dino-head:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  10% {
    -webkit-transform: translate(-1px, -4px);
            transform: translate(-1px, -4px);
  }
  20% {
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  30% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  40% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  50% {
    -webkit-transform: translate(-1px, 4px);
            transform: translate(-1px, 4px);
  }
  60% {
    -webkit-transform: translate(-5px, 1px);
            transform: translate(-5px, 1px);
  }
  70% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  80% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  90% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  100% {
    -webkit-transform: translate(1px, -4px);
            transform: translate(1px, -4px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  10% {
    -webkit-transform: translate(-1px, -4px);
            transform: translate(-1px, -4px);
  }
  20% {
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  30% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  40% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  50% {
    -webkit-transform: translate(-1px, 4px);
            transform: translate(-1px, 4px);
  }
  60% {
    -webkit-transform: translate(-5px, 1px);
            transform: translate(-5px, 1px);
  }
  70% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  80% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  90% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  100% {
    -webkit-transform: translate(1px, -4px);
            transform: translate(1px, -4px);
  }
}
.bite {
  -webkit-animation: gotcha 1s;
          animation: gotcha 1s;
}

@-webkit-keyframes gotcha {
  0% {
    translate: 0, 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    translate: -60px, 400px;
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  100% {
    translate: 0, 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes gotcha {
  0% {
    translate: 0, 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    translate: -60px, 400px;
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  100% {
    translate: 0, 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.no-bite {
  -webkit-animation: back 1s;
          animation: back 1s;
}

@-webkit-keyframes back {
  0% {
    translate: 0, 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    translate: 0, 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes back {
  0% {
    translate: 0, 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    translate: 0, 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.blurb-cont {
  border: #130d00 1px solid;
  width: 50%;
  margin-left: 5%;
  padding: 5px;
  background: #d1cac2;
  border-radius: 5px;
}

.img-cont1 {
  width: 20%;
  margin: 0 auto;
}

.mus-title-cont {
  text-align: center;
}

.dont-show {
  display: none;
}

select {
  width: 60%;
  font-family: "Lato", sans-serif;
  background-color: #130d00;
  border: none;
  border-radius: 7px;
  color: #d1cac2;
  padding: 5px;
}
select option {
  font-family: "Lato", sans-serif;
}

.choose {
  background-color: #130d00;
  border: none;
  border-radius: 7px;
  color: #d1cac2;
  padding: 5px;
}

.museum {
  padding-top: 150px;
}

.museum-flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding-top: 150px;
}

.art-info {
  margin: 0 15px;
  width: 30%;
  min-width: 300px;
  z-index: 10;
}

.ex-title-cont,
.art-text-cont {
  padding: 10px;
  background-color: #d1cac2;
  border-radius: 10px;
  margin: 5px;
}

.img-cont2 {
  z-index: 10;
  width: 45%;
  max-height: 100%;
  min-width: 300px;
}
.img-cont2 img {
  border: 25px #753C19 ridge;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}

button.next {
  z-index: 30;
  background: transparent;
  border: none;
  font-size: 40px;
  color: #d1cac2;
  font-family: "Lato", sans-serif;
  position: absolute;
  right: 10px;
  bottom: 45%;
}

.vase-cont {
  position: absolute;
  bottom: 105%;
  left: 5%;
  width: 100px;
  -webkit-transition: all 2s cubic-bezier(0.4, 1, 10, 10);
  transition: all 2s cubic-bezier(0.4, 1, 10, 10);
}

.roll {
  -webkit-animation: vase-kick 4s;
          animation: vase-kick 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes vase-kick {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg) scale(1);
            transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translateX(39vw) translateY(-25vh) rotate(500deg) scale(0);
            transform: translateX(39vw) translateY(-25vh) rotate(500deg) scale(0);
  }
  75% {
    -webkit-transform: translateX(-300px) translateY(0) rotate(0deg) scale(0);
            transform: translateX(-300px) translateY(0) rotate(0deg) scale(0);
  }
  80% {
    -webkit-transform: translateX(-150px) translateY(0) rotate(0deg) scale(0);
            transform: translateX(-150px) translateY(0) rotate(0deg) scale(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg) scale(1);
            transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
}

@keyframes vase-kick {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg) scale(1);
            transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translateX(39vw) translateY(-25vh) rotate(500deg) scale(0);
            transform: translateX(39vw) translateY(-25vh) rotate(500deg) scale(0);
  }
  75% {
    -webkit-transform: translateX(-300px) translateY(0) rotate(0deg) scale(0);
            transform: translateX(-300px) translateY(0) rotate(0deg) scale(0);
  }
  80% {
    -webkit-transform: translateX(-150px) translateY(0) rotate(0deg) scale(0);
            transform: translateX(-150px) translateY(0) rotate(0deg) scale(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg) scale(1);
            transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
}
@media (max-height: 800px) {
  .vase-cont {
    display: none;
  }
}
@media (max-width: 790px) {
  .art-info {
    width: 45%;
  }

  .vase-cont {
    display: none;
  }

  body {
    background-image: none;
  }
}
@media (max-width: 570px) {
  select {
    width: 100%;
    margin-bottom: 5px;
  }

  .choose {
    margin-left: calc(50% - (103.35px / 2));
  }

  h1 {
    margin-top: 20px;
    padding-bottom: 35px;
  }

  .blurb-cont {
    width: 90%;
  }

  .vase-cont {
    display: none;
  }

  .museum-flex1 {
    padding-top: 0px;
  }

  .next-letter {
    display: none;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 2.2rem;
    padding-top: 15px;
  }

  .img-cont2 img,
.art-info {
    width: 200px;
    min-width: 200px;
  }
}